header{ 
             background-color: rgb(255, 73, 60); 
             color: #FFFFFF;  
             text-align: center;
             max-width: 800px;
             margin: 0 auto;
             padding: 16px;
            }
            
            main{
            background-color: rgb(250, 247, 247);
            color: rgb(255, 73, 60);
            max-width: 800px; 
            margin: 0 auto;
            padding: 16px;  
        }
        article {
            display: flex;
            align-items: center;
            gap: 16px;
            margin-bottom: 20px;
        }

            img{
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 4px;
            }
            .artigo-autor{
                font-weight: bold;
            }
            ul {
                margin: 8px 0;
                padding-left: 20px;
            }